.bucketItem {
  position: relative;
  z-index: 1;
  width: 82px;
  height: 82px;
  margin-bottom: 30px;
  background: rgba(0,0,0,0.5);
}
.bucket.bucket-sublcass .bucketItem {
  width: 118px;
  height: 118px;
}
.destinyTooltip {
  display: none;
  position: absolute;
  width: 350px;
  background: rgba(30,36,43, 0.95);
  text-align: left;
  color: #fff;
  top: 15px;
  left: 115px;
  z-index: 99;
  transition: all 0.1s ease-in-out;
  opacity: 0;
}

.bucketItem:hover .destinyTooltip {
  display: block;
  top: 0px;
  opacity: 1;
}

.destinyTooltip .itemHeader,
.destinyTooltip .itemBody {
  padding: 10px;
}

.tierTypeExotic .destinyTooltip .itemHeader, .destinyTooltip[data-tiertype="Exotic"] .itemHeader {
  background: rgba(206,174,50,0.9);
  color: #f5f5f5;
}
.tierTypeLegendary .destinyTooltip .itemHeader, .destinyTooltip[data-tiertype="Legendary"] .itemHeader, .tierTypeSuperior .destinyTooltip .itemHeader, .destinyTooltip[data-tiertype="Superior"] .itemHeader {
  background: rgba(78,50,99,0.9);
  color: #f5f5f5;
}

.destinyTooltip .itemName {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: normal;
}

.destinyTooltip .itemHeader .itemSubtitle,
.destinyTooltip .itemHeader .tierTypeName {
  position: relative;
  font-size: 17px;
  line-height: 20px;
  font-weight: normal;
  opacity: 0.5;
}

.destinyTooltip .itemHeader .tierTypeName {
  position: absolute;
  right: 0;
  bottom: 0;
}

.itemStats .primaryStat {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 170px;
}
.itemDescription {
  font-style: italic;
}
.itemStats .valueNumber:after {
  background: url("https://bungie.net/img/theme/destiny/icons/icons_gearCompare.png") no-repeat scroll -100px -100px;
  content: "";
  background-size: 100% auto;
  display: inline-block;
  height: 10px;
  margin-left: 10px;
  width: 10px;
}