a.submit-bug {
  position: fixed;
  display: block;
  right: 0;
  bottom: 0;
  padding: 8px 15px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  background-color: rgba(255,255,255,0.15);
  border-radius: 4px 0px 0px 0px;
  z-index: 9999;
}
a.submit-bug:hover {
  text-decoration: underline;
}