<div class="destinyTooltip" data-tiertype="{{bucketItem.tierTypeName}}" data-itemHash="{{bucketItem.itemHash}}">
  <div class="itemHeader">
    <div class="itemName">{{bucketItem.itemName}}</div>
    <div class="itemSubtitle">
      <span>{{bucketItem.itemType}}</span>
      <div class="tierTypeName">{{bucketItem.tierTypeName}}</div>
    </div>
  </div>
  <div class="itemBody">
    <div class="itemStats">
      <div class="primaryStat">
        <div class="damageTypeIcon" style="background-image: url('');"></div>
        <span class="statValue ">{{bucketItem.statValue}}</span>
      </div>
      <div class="itemDescription">{{bucketItem.itemDescription}}</div>
      <table class="itemStatTable">
        <tbody>
          <tr class="itemStat">
            <td class="statName">
              <span>{{bucketItem.statName}}</span>
            </td>
            <td class="valueBar barStat">
              <span class="value">
                <span class="valueModifiedByNode">
                  <span class="valueModified"></span>
                </span>
              </span>
            </td>
          </tr>
          <tr class="itemStat usesStatNumbers">
            <td class="statName">
              <span>{{bucketItem.statName}}</span>
            </td>
            <td class="valueBar">
              <span class="valueNumber">{{bucketItem.valueNumber}}</span>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="itemPerks">
        <div class="itemPerk">
          <span class="icon"></span>
          <span class="itemPerkDescription">{{bucketItem.itemPerkDescription}}</span>
        </div>
        <div class="itemPerk active">
          <span class="icon"></span>
          <span class="itemPerkDescription">{{bucketItem.itemPerkDescription}}</span>
        </div>
      </div>
    </div>
  </div>
</div>