<div class="leftStats">
  <div class="level">
    <div class="label">Level</div>
    <div class="value">{{guardian.level}}</div>
  </div>
</div>

<div class="rightStats"></div>

<div class="bucketsLeft">
  <div class="bucket {{bucket.id}}" ng-repeat="bucket in bucketsLeft">
    <div class="bucketItem equipped" ng-repeat="bucketItem in bucket.equipped">
      <div class="itemImage" style="background-image:url('{{bucketItem.itemImageURL}}');"></div>
      <div destiny-tooltip></div>
    </div>
    <div class="unequippedItems">
      <div class="label">{{bucket.label}}</div>
      <div class="bucketItem" ng-repeat="bucketItem in bucket.unequipped">
        <div class="itemImage" style="background-image:url('{{bucketItem.itemImageURL}}');"></div>
        <div class="itemAction">Equip</div>
        <div destiny-tooltip></div>
      </div>
    </div>
  </div>
</div>

<div class="bucketsRight">
  <div class="bucket {{bucket.id}}" ng-repeat="bucket in bucketsRight">
    <div class="bucketItem equipped" ng-repeat="bucketItem in bucket.equipped">
      <div class="itemImage" style="background-image:url('{{bucketItem.itemImageURL}}');"></div>
      <div destiny-tooltip></div>
    </div>
    <div class="unequippedItems">
      <div class="label">{{bucket.label}}</div>
      <div class="bucketItem" ng-repeat="bucketItem in bucket.unequipped">
        <div class="itemImage" style="background-image:url('{{bucketItem.itemImageURL}}');"></div>
        <div class="itemAction">Equip</div>
        <div destiny-tooltip></div>
      </div>
    </div>
  </div>
</div>
